<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic">
    <link rel="stylesheet" href="../../fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <link rel="stylesheet" href="../../css/Login-Form-Clean.css">
    <link rel="stylesheet" href="../../css/Registration-Form-with-Photo.css">
</head>

<body id="page-top">
<nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="../../img/fullsize/iconfinder_8_-_Social_fire_flame_hot_trends_trending_icon_5877893.png" width="40" height="40">tinder</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-align-justify"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">about</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
                <li class="nav-item"><button class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModal" >sign in</button>
                    <div id="exampleModal" class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Modal body text goes here.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</nav>
<header class="text-center text-white d-flex masthead" style="background-image:url('../../img/header.jpg');">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <strong>Dating, make new friends &amp;meet new people</strong>
                </h1>
                <button class="btn btn-primary" onclick="document.getElementById('id01').style.display='block'"type="button">login</button>


  <span onclick="document.getElementById('id01').style.display='none'"
        class="close" title="Close Modal">&times;</span>

                    <!-- Modal Content -->
                    <form class="modal-content animate" action="/action_page.php">
<!--                        <div class="imgcontainer">-->
<!--                            <br>-->
<!--                        </div>-->

<!--                        <div class="container">-->
<!--                            <label for="uname"><b>Username</b></label>-->
<!--                            <input type="text" placeholder="Enter Username" name="uname" required>-->

<!--                            <label for="psw"><b>Password</b></label>-->
<!--                            <input type="password" placeholder="Enter Password" name="psw" required>-->

<!--                            <button type="submit">Login</button>-->
<!--                            <label>-->
<!--                                <input type="checkbox" checked="checked" name="remember"> Remember me-->
<!--                            </label>-->
<!--                        </div>-->

<!--                        <div class="container" style="background-color:#f1f1f1">-->
<!--                            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>-->
<!--                            <span class="psw">Forgot <a href="#">password?</a></span>-->
<!--                        </div>-->
                        <form class="modal-content animate" action="/action_page.php" action="/insertUser" method="post" enctype="multipart/form-data">
                            <li>
                                <input name="username" placeholder="Enter username">
                            </li>
                            <br>
                            <li>
                                <input name="password" placeholder="Enter password" type="password">
                            </li>
                            <br>
                            <li>
                                <input name="name" placeholder="Enter name">
                            </li>
                            <br>
                            <li>
                                <input name="address" placeholder="Enter address">
                            </li>
                            <br>
                            <li>
                                <input name="number_phone" placeholder="Enter number phone">
                            </li>
                            <br>
                            <li>
                                <input name="avatar" type="file">
                            </li>
                            <li>
                                <button type="submit">Save</button>
                            </li>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="d-sm-flex justify-content-sm-center align-items-sm-center p-0" id="portfolio">
    <div class="container-fluid p-0">
        <div class="row no-gutters d-sm-flex flex-fill justify-content-sm-center align-items-sm-center popup-gallery">
            <div class="col-sm-6 col-lg-4"><a class="portfolio-box" href="../../img/fullsize/1.jpg"><img class="img-fluid" src="../../img/fullsize/couple1.jpg">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded"><span>seanB &amp; annie</span></div>
                        <div class="project-name"><span class="text-center"><br>I met my fiancé on tinder during the quarantine for COVID. She is from Lafayette, Indiana and I am from Cleveland, Ohio. We are both Christians who fell madly in love.<br><br></span></div>
                    </div>
                </div>
            </a></div>
            <div class="col-sm-6 col-lg-4"><a class="portfolio-box" href="../../img/fullsize/2.jpg"><img class="img-fluid" src="../../img/fullsize/couple5.jpg">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded"><span>seanB &amp; annie</span></div>
                        <div class="project-name"><span>Project Name</span></div>
                    </div>
                </div>
            </a></div>
            <div class="col-sm-6 col-lg-4"><a class="portfolio-box" href="../../img/fullsize/3.jpg"><img class="img-fluid" src="../../img/fullsize/couple3.jpg">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded"><span>seanB &amp; annie</span></div>
                        <div class="project-name"><span>Project Name</span></div>
                    </div>
                </div>
            </a></div>
            <div class="col-sm-6 col-lg-4"><a class="portfolio-box" href="../../img/fullsize/4.jpg"><img class="img-fluid" src="../../img/fullsize/couple4.jpg">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded"><span>seanB &amp; annie</span></div>
                        <div class="project-name"><span>Project Name</span></div>
                    </div>
                </div>
            </a></div>
            <div class="col-sm-6 col-lg-4"><a class="portfolio-box" href="../../img/fullsize/5.jpg"><img class="img-fluid" src="../../img/fullsize/couple2.jpg">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded"><span>seanB &amp; annie</span></div>
                        <div class="project-name"><span>Project Name</span></div>
                    </div>
                </div>
            </a></div>
            <div class="col-sm-6 col-lg-4"><a class="portfolio-box" href="../../img/fullsize/6.jpg"><img class="img-fluid" src="../../img/fullsize/couple6.jpg">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded"><span>seanB &amp; annie</span></div>
                        <div class="project-name"><span>Project Name</span></div>
                    </div>
                </div>
            </a></div>
        </div>
    </div>
</section>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 text-center mx-auto">
                <h2 class="section-heading"><br>Contact Us<br><br></h2>
                <hr class="my-4">
                <p class="mb-5"><br>Got something you want to talk about? Contact us or email us and we promise to get back to you as soon as we can.<br><br></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 text-center ml-auto"><i class="fa fa-phone fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300" data-aos-once="true"></i>
                <p><br>214-853-4309<br><br></p>
            </div>
            <div class="col-lg-4 text-center mr-auto"><i class="fa fa-envelope-o fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300" data-aos-delay="300" data-aos-once="true"></i>
                <p><a href="mailto:your-email@your-domain.com"><br>partners@gotinder.com<br><br></a></p>
            </div>
        </div>
    </div>
</section>
<script src="../../js/jquery.min.js"></script>
<script src="../../bootstrap/js/bootstrap.min.js"></script>
<script src="../../js/bs-init.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<script src="../../js/creative.js"></script>
</body>

</html>